* {
    padding : 0;
    margin : 0;
}

html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }

div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#main-container {
  height: 100%;
}

#map {
  height: 100%;
  width:100%;
  float:left;
}

.inputBox {
  height:10%;
}

#dmain{
  right:0%;
  top:0%;
  float:right;
  padding:1em;
}

#datain{
  background-color:grey;
  display:block;
  width:10em;
  height:19em;

}
#brange{
  margin-left: .4em;
  font-size: .75em;
}
#erange{
  margin-left: .4em;
  font-size: .75em;
}
#rchkbox{
  width:2em;
  height:2em;
  margin-top: 1em;
  margin-left: .8em;

}
#rgbtn{
  width:8em;
  height:3em;
  margin-left: 1em;
}

.activated {
  background: '#5F5';
}

.controls {
  margin-top: .5em;
  margin-bottom: .5em;
  border: 0.1em solid transparent;
  border-radius: 0.3em 0 0 0.3em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*height: 32px;*/
  outline: none;
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.3);
}

.control-box{
  margin: .3em;
  padding: .3em;
  float:left;
  border: 0.07em solid black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*height: 32px;*/
  outline: none;
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.3);
}

.shutter-toggle-up {
  border-radius: 0.3em 0 0 0.3em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 1.2em;
  outline: none;
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.3);
  background-image: url('/view/img/uparrow.png');
}

.shutter-toggle-down {
  border-radius: 0.3em 0 0 0.3em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 1.2em;
  outline: none;
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.3);
  background-image: url('/view/img/downarrow.png');
}

.menu-item{

}

.menu-category{

}

.menu-popout{

}

.util-stuff{
  position: absolute;
  top:0%;
  right:0%;
  z-index: 1000;
}